<div class="gameStartOptionPanel">
<ion-modal-view class="ion-nifty-modal">
<ion-content class="gameCentral">

	
    <!-- Google Fonts -->
    

  	<!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>
    <!-- End load page -->


    <!-- Content Wrapper -->
    <div id="wrapper">

        
        <!-- Carousel -->
        <!-- <section id="carousel" data-ride="carousel">
            <div class="container">
                <!-- carousel inner -->
                <div class="carousel-inner">

                    <!-- Stopwatch -->
                    <!-- <div class="stopwatch item active">

                        <!-- section watch -->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <!-- Watch -->
                                
                                <!-- End Watch -->
                            </div>
                        </div>

                        <!-- Home page -->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                                    <h2 class="uppercase blue">OFFLINE!</h2>
                                    <h4 class="violet">You need to check your internet connection :)</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="animated" data-animation="fadeIn" data-animation-delay="500">
                                    <div class="boy">
                                        <div class="boy_tv">
                                            <div class="screen"></div>
                                        </div>
                                        <div class="antenna"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Home page -->

                    </div> -->
                    <!-- end Stopwatch -->


                    <!-- Subscribe -->
                    <!-- end Subscribe -->


                    
                </div>
                <!-- end carousel-inner -->
            </div>
            <!-- end container -->
        </section> 
        <!-- end Carousel -->

    </div>
    <!-- end Content Wrapper -->



    

</ion-content>
</ion-modal-view>
</div>