// Web font URLs
$font-google-montserrat : 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
$font-google-material-icons	: 'https://fonts.googleapis.com/icon?family=Material+Icons';
$font-google-open-sans : 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800,700italic,800italic';

// _functions.scss

@if variable-exists(font-google-montserrat) {
  @import url($font-google-montserrat);
}

@if variable-exists(font-google-material-icons) {
  @import url($font-google-material-icons);
}

@if variable-exists(font-google-open-sans) {
  @import url($font-google-open-sans);
}

// Font Stacks
$stack-montserrat     : 'Montserrat', 'sans-serif';
$stack-material-icons : 'Material Icons', 'sans-serif';
$stack-open-sans : 'Open Sans', 'sans-serif';

// Main Styles
body {
  font-family: $stack-open-sans;
}

.montserrat{
  font-family: $stack-montserrat;
  &.mo-400{
    font-weight: 400;
  }
  &.mo-700{
    font-weight: 700;
  }
}
.open-sans{
  font-family: $stack-open-sans;
  &.os-400{
    font-weight: 400;
  }
  &.os-700{
    font-weight: bold;
  }
  &.os-36{
    font-size: 36px;
  }
}

// Material Icons Additions
.material-icons {
  font-family: $stack-material-icons;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: -4px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-12 {
    font-size: 12px;
  }
  &.md-18 {
  	font-size: 18px;
  }
  &.md-24 {
  	font-size: 24px; vertical-align: -7px;
  }
  &.md-36 {
  	font-size: 36px; vertical-align: -12px;
  }
  &.md-48 {
  	font-size: 48px; vertical-align: -16px;
  }
}
