<ion-view view-title="Capture Something!" class="record-view active-recording video-page show-page" hide-nav-bar="true">
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content class="padding">
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-content>
      </ion-modal-view>
    </script>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide class="slide1">
            <ion-content class="padding">
                <img id="startMediaBtn" class="show" src="img/video/record-btn.png" />
                <div style="position: absolute;top: -2000px;">
                    <input type="file" id="mask-load-file" custom-on-change="uploadFile" name="file1" accept="audio/*;capture=microphone">
                </div>

                <div id="typeImage" class="typeImage" ng-if="$root.mediaCheck == 'image'">
                    <img class="mediaActionImageStore" src="" class="" />
                    <!-- <div class="center">
                        <li class="ion-camera icon-large" data-pack="default" data-tags="photo" style="display: inline-block;"></li>
                    </div> -->
                </div>

                <div id="typeVideo" ng-if="$root.mediaCheck == 'video'">
                    <video id="mediaActionVideoStore" src="" controls></video>
                </div>

                <div class="slide-navigator" ng-if="$root.mediaCheck == 'image' || $root.mediaCheck == 'video'">
                    <div>
                        <img src="../img/swipe-left.png" /> NEWS DETAILS
                    </div>
                    <div>
                        Swipe to continue
                    </div>
                </div>
                
                
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="padding recordContentBgScreen">

                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">News Title</span>
                        <input type="text" id="news_title" name="news_title" ng-model="news_title" placeholder="News Title">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Summary</span>
                        <input type="text" class="light" id="news_summary" name="news_summary" ng-model="news_summary" placeholder="Summary">
                    </label>
                        <label class="item item-input item-floating-label">
                        <span class="input-label">The Story</span>
                        <textarea type="text" rows="4" id="news_detail" name="news_detail" ng-model="news_detail" placeholder="The Story"></textarea>
                    </label>
                    <button class="button button-block button-balanced" ng-click="saveDetails();">Save Story</button>
                </div>
                <div class="slide-navigator" ng-if="$root.mediaCheck == 'image' || $root.mediaCheck == 'video'">
                    <div>
                        CHANGE MEDIA <img src="../img/swipe-left.png" /> REVIEW
                    </div>
                    <div>
                        Swipe left to continue
                    </div>
                </div>
                </ion-content>
        </ion-slide>
        <ion-slide class="review-story">
            <ion-content class="padding recordContentBgScreen">
                <div class="row responsive-sm">
                    <div class="col">
                        <div class="slide-navigator" ng-if="$root.mediaCheck == 'image' || $root.mediaCheck == 'video'">
                            <div>
                                STORY <img src="../img/swipe-left.png" />
                            </div>
                            <div>
                                If happy click publish
                            </div>
                        </div>
                    </div>
                    <div class="col center">
                        <button class="button button-assertive center" ng-click="publish-news-item();">PUBLISH NEWS</button>
                    </div>
                </div>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</ion-view>