<ion-view view-title="" class="DashboardView" hide-nav-bar="true">
    <div class="navigation-tool">
        <i class="ion-navicon-round"></i>
    </div>
    <ion-content overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
        <div class="about-header">
            <ion-slide-box auto-play="false" show-pager="false">
                <ion-slide data-ng-repeat="i in ['news','war','london','paris']">
                    <div class="profile-media">
                        <div class="heading-date">28th May</div>
                        <img ng-src="http://loremflickr.com/375/677/{{i}}" class="about-image" style="vertical-align:middle;">
                    </div>
                    <div class="caption">
                        <p class="title">Bomb terror alert high</p>
                        <p class="location">London, United Kingdom</p>
                        <p class="subtitle">Terror alert was raised yesterday due to the momvement in Basra.  Fears run high amongst the people there.</p>
                    </div>
                    <div class="more-stories">
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                        <p class="title">Bomb terror alert high</p>
                        <span class="subtitle">London, United Kingdom</span>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>